extends layout

block content
  h1=title
  .container
    h2 Form
    form.needs-validation(action='/login', method='POST', novalidate='', autocomplete='off')
      .form-group
        label(for='uname') Логин:
        input#uname.form-control(type='text' placeholder='Введите логин' name='username' required='' value='' autocomplete='off')
        .valid-feedback Valid.
        .invalid-feedback Please fill out this field.
      .form-group
        label(for='pwd') Пароль:
        input#pwd.form-control(type='password' placeholder='Введите пароль' name='password' required='' value=''  autocomplete='off')
        .valid-feedback Valid.
        .invalid-feedback Please fill out this field.
      button.btn.btn-primary(type='submit') Отправить
  if message
    h1.text-center.error-message #{message}


  script(src='/javascripts/validation.js')
